#======================================================
# Roblox / Rojo
#======================================================

*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

#======================================================
# Sourcemap
#======================================================

sourcemap.json

#======================================================
# VSCode
#======================================================

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

#======================================================
# Selene / StyLua
#======================================================

.selene/
stylua.toml.bak

#======================================================
# Wally
#======================================================

Packages/
Package.lock

#======================================================
# Logs
#======================================================

*.log

#======================================================
# OS files
#======================================================

.DS_Store
Thumbs.db

#======================================================
# Linux temp files
#======================================================

*~
*.swp